<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.kcska.dokodemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jp.ac.kcska.dokodemo.Login.LoginMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Blood.BloodMainActivity"
            android:label="@string/title_activity_blood_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Food.FoodMainActivity"
            android:label="@string/title_activity_food_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Graph.GraphMainActivity"
            android:label="@string/title_activity_graph_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Home.HomeMainActivity"
            android:label="@string/title_activity_home_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Login.OneTimeActivity"
            android:label="@string/title_activity_login_main"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Medicine.CustomListActivity"
            android:label="@string/title_activity_medicine_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Show.ShowMainActivity"
            android:label="@string/title_activity_show_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Show.GggggggMainActivity"
            android:label="@string/title_activity_show_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Vial.VitalMainActivity"
            android:label="@string/title_activity_vital_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Home.health"
            android:label="@string/title_activity_home_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Blood.Blood"
            android:label="@string/title_activity_blood_main" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Food.FoodManageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_mane"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Food.FoodChangeSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_change_select" >
        </activity>
        <activity
            android:name="jp.ac.kcska.dokodemo.Food.FoodSign_upActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_sign_up"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider" />

        <activity
            android:name="jp.ac.kcska.dokodemo.Avatar.AvatarMainActivity"
            android:label="@string/title_activity_avatar_main" >
        </activity>
    </application>

</manifest>
